name: Generate CHANGELOG

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  issues: read
  pull-requests: read

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate changelog
        uses: heinrichreimer/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          output: CHANGELOG.md

      - name: Commit & push CHANGELOG.md
        run: |
          if git diff --quiet; then
            echo "No changes to CHANGELOG.md"
            exit 0
          fi

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add CHANGELOG.md
          git commit -m "docs(changelog): update [skip ci]"
          git push
